# builds and gradle
.classpath
.gradle/
build

cells-app/.classpath
cells-app/build
cells-app/libs
sdk/build
sdk/libs
sdk/.classpath


# IDE files
*.iml
.settings/
.idea/
.project
sdk/.project
sdk/*.iml
cells-app/.project
cells-app/*.iml

# This file contains your sensitive information. Do *NOT* push it in your CVS.
local.properties

